html body {
	background-color: #1b1b1b;
	height: 100%;
	font-family:sans-serif;
	overflow: hidden;	
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.main {
	display: flex;
	flex-flow: row nowrap;
}
.main-tab{
	height:100%;
	background-color: #1b1b1b;
	flex-flow: nowrap;
}

.segment{
	display: block;
}
.ship_status{
	background: #222;
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	margin: 10px;
	font-size: 14px;
}
.ship_status .nav-link.active{
	background-color: #222 !important;
}
.ship-item {
	display: flex;
	margin: 5px 10px 0px 10px;
}
.ship-info {
	flex: 1;
	display: flex;
	flex-flow: column nowrap
}
label.btn {
	margin-bottom:0px;
}
.ship-stat {
	flex: 2;
	display: flex;
	flex-flow: column nowrap
}
.ship-hp {
	flex: 1;
	font-size: 14px;
}
.ship-damage {
	flex:none;
	padding:3px 5px;
}
.progress-hp {
	margin-top: 7px
}
.nowrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:0;
}
.ndock{
	background: #222;	
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	margin: 10px;
	font-size: 16px;
}
.ndock-inside{
    margin: 5px 10px 5px 5px;
}
.quest {
	background: #222;	
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	margin: 10px;
	font-size: 16px;
}
.quest-inside{
	margin: 5px 10px 5px 5px;	
}
.ship-title {
	flex: 4;
	display: flex;
}
.ship-fb {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	margin: 5px 5px 10px 5px;
}
.ship-slot {
	display: flex;
	flex:none;
	width:100px;
	align-items:center;
}
.ship-slot > div > span{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left:10px;
}
.setting h3{
    color: aqua;
}
.ship-column{
	margin: 10px;
}
.btn-border {
	border:hidden;	
	border-radius: 0px;	
	border-bottom: 3px solid;
	border-color: aqua;
}
.btn-border:hover {
	color: aqua;
}
.btn-border-danger {
	border-color: #d9534f !important;	
}
.btn-border-danger:hover {
	color: #d9534f !important;
}
.setting>div, .robot>div{
	margin: 20px 20px 0px 20px;
}
div.auto-sortie, div.sleep-end, div.auto-expedition {
	margin-top:0px;
}
.expedition-inside{
    margin: 10px;
}
.shigure-tab{
	background-color: #1b1b1b;
	color: #FFF;
}
.nav-shigure{
	display:block !important;
	overflow:hidden;
	padding-bottom:2px;
	border:none;
}
.nav-shigure > li {
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.dropdown-shigure{
	position: absolute;
	display: none;
	z-index:1000;
	left: auto;
	min-width: width 10rem;
	padding:.5rem 0;
	margin:.125rem 0 0;
	font-size: 1rem;
	background: black;
	color: white;
	padding: 5px 10px 4px;
	text-align:left;
	list-style-type: square none;
	background-clip: padding-box;
}
.dropdown-shigure-item{
	display: block;
	width: 100%;
	padding: 3px 1.5rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}
.nav-link{
	color: #FFF;
}
.nav-item>.nav-link:hover{
	color: aqua !important;
	border-color: #1b1b1b !important;
	border-bottom-color: aqua !important;
}
.nav-link.active{
	background-color: #1b1b1b !important;
	color: aqua !important;
	border-color: #1b1b1b !important;
	border-bottom-color: aqua !important;
}
.per_status{
	text-align: center;
	width: 100%;
	padding: 10px 5px 5px 5px;
	height: auto;
	border-bottom: 2px solid #3d3d3d;
	border-radius: 5px;
	font-size: 13px;
}
hr{
	background-color: #a6a6a6;
	width: 95%;
	height: 1px;
}
.kdock{
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	background: #222;
	margin: 10px;
	font-size: 16px;
}
.kdock-inside{
	margin: 5px 10px 5px 5px;
}
.kdock-item {
    display: flex;
    flex-flow: row nowrap;
}
.kdock-name {
    flex: 1;
}
.mission{
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	margin: 10px;
    font-size: 16px;
    background: #222;
}
.mission-inside{
    display: flex;
    flex-flow: row;
    margin: 5px 10px 5px 5px;
}
.mission-name {
    flex: 1
}
.ndock-item {
    display: flex;
    flex-flow: row nowrap;
}
.ndock-name {
    flex: 1;
}
.resource_board{
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	margin: 10px;
	font-size: 13px;
	background: #222;
}
.resource_inside{
	margin:5px 10px 10px 10px;
	width:100%;
}
.resource_inside th{
	text-align: left;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
}
.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  padding: 5px 10px 4px;
}

.tooltip tooltip-arrow {
  display: none;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
.show {
	display: block;
}

.progress {
	border-radius: 0;
}
.bg-small-break {
	background-color: #869645 !important;
}
.bg-medium-break {
	background-color: #CE9C0E !important;
}
.bg-large-break {
	background-color: #d9534f !important;
}